html, body {
	padding:0px;
	margin:0px;
	font-size:12pt;
}

body, p, h1, h2, h3, h4, h5, h6, a:link, a:visited, a:hover, a:active, a:focus {
	font-family:Verdana, Arial, Tahoma, Helevtica, sans-serif;
}

td, p {
	font-size:0.95em;
}

a:link, a:visited, a:hover, a:active, a:focus {
	font-weight:normal;
	font-size:1em;
	background-color:transparent;
}

a:link {
	color:#000080;
	text-decoration:none
}
a:visited {
	color:#000080;
	text-decoration:none
}
a:hover {
	color:#0020AF;
	text-decoration:underline;
}
a:active {
	color:#2468B1;
	text-decoration:none
}
a:focus {
	color:#000080;
	text-decoration:none
}

h1 {
	font-size:1.1em;
	}
h2 {
	font-size:1.05em;
	}
h3 {
	font-size:1.05em;
	}
h4 {
	font-size:1.02em;
	}
h5 {
	font-size:1em;
	}
h6 {
	font-size:1em;
	}

h1,h2,h3,h4,h5,h6 {
	font-weight:bold;
	color:#0226b0;
	background-color:transparent;
	text-align:left;
}

input {
	color:black;
	background-color:#EEEEF6;
}
input:hover {
	color:black;
	background-color:white;
}
input:focus {
	color:black;
	background-color:#DDE2F6;
}

textarea {
	color:black;
	background-color:#EEEEF6;
	width:100%;
}
textarea:hover {
	color:black;
	background-color:white;
}
textarea:focus {
	color:black;
	background-color:#DDE2F6;
}


/* --------------------- Header stuff ------------------------ */
#pagetop {
	padding:0px;
	margin:0px;
	height:99px;
	border-bottom:1px solid #75a0ff;
	background-image:url(/images/pagetop-right.png);
	background-repeat:repeat-x;
}

#pagetop img.left {
	padding:0px;
	margin:0px;
	height:99px;
}

#pagetop #flags {
	padding:0px;
	position:absolute;
	height:15px;
	right:10px;
	top:10px;
	text-align:center;
	padding:5px;
}


#pagetop #flags img {
	border:0px;
	margin:1px 3px;
	border:1px solid white;
}

/* --------------------- page stuff, sourrounds content ------------------------ */
#page {
	background-image:url(/images/sidebar-bg.jpg);
	background-repeat:repeat-y;
	background-color:white;
	color:black;
	border-spacing:0px;
	border-collapse:collapse;
	width:100%;
	margin:0px;
	padding:0px;
}

/* --------------------- Navigation stuff ------------------------ */
#navigation {
	margin:15px 0 0 5px;
	float:left;
	width:160px;
	font-size:0.95em;
	}
#navigation ul {
	list-style:none;
	margin:0;
	padding:0;
	border:1px solid #9CA7D2;
	font-size:0.9em;
	}
#navigation ul ul {
	border:none;
	font-size:0.95em;
	}	
	
#navigation li {
	display:block;
	margin:0;
	padding:0;
	}
#navigation li a {
	display:block;
	padding-left:10px; 
	margin:0;
	background-color:#B8C4F6;
	border-top:1px solid #9CA7D2;
	border-bottom:1px solid #9CA7D2;
	font-weight:bold;
	}
#navigation li a:hover {
	background-image:none;
	background-color:#DEE6FF;
	text-decoration:none;
	}
#navigation li li a:hover {
	background-image:none;
	background-color:#DEE6FF;
	text-decoration:none;
	}
#navigation li.current span {
	font-weight:bold;
	color:black;
	display:block;
	padding:0 0 0 10px; 
	margin:0;
	background-color:#B8C4F6;
	border-top:1px solid #9CA7D2;
	border-bottom:1px solid #9CA7D2;
	}
#navigation li.current span:hover {
	background-image:none;
	background-color:#DEE6FF;
	text-decoration:none;
	}


#navigation li li {
	background-color:transparent;
	padding:0;
	}
#navigation li li a {
	padding:1px 0 1px 20px;
	background:url(/images/nav-bg.png);
	background-repeat:repeat;
	border:none;
	font-weight:normal;
	}
#navigation li li.current span {
	padding-left:20px;
	background:url(/images/nav-bg.png);
	background-repeat:repeat;
	border:none;
	}


#navigation #logos {
	text-align:center;
	margin:35px 0 35px 0;
	padding:0px 15px 0 15px;
	border:1px solid #9CA7D2;
	background:url(/images/nav-bg.png);
	background-repeat:repeat;
}

#navigation #logos img {
	border:0px;
	margin-bottom:10px;
	margin-top:10px;
}

#navigation #copyright {
	text-align:center;
	margin:35px 0 35px 0;
	padding:15px;
	border:1px solid #9CA7D2;
	background:url(/images/nav-bg.png);
	background-repeat:repeat;
	font-size:0.7em;
}

/* --------------------- Content stuff ------------------------ */
#content {
     position: relative; /* Position is declared "relative" to gain control of stacking order (z-index). */
     width:auto;
     min-width:120px;
     z-index:3; /* This allows the content to overlap the right menu in narrow windows in good browsers. */	
	margin:0 170px 0 180px;
	padding-top:10px;
	background-color:transparent;
}

#content img {
	border:none;
}

#content .section {
	margin-bottom:15px;
	}
#content .section > .section {
	margin:15px 0 5px 15px;
	}
#content .section .titlepage div div h1,h2,h3,h4,h5,h6 {
	padding:0px;
	margin:0px;
	}
.section p {
	margin:0px 0 5px 0;
	padding:0 0 0 15px;
	font-size:0.95em;
	}
.section .table .title {
	font-size:0.8em;
	}
.section table {
	width: 100%;
	}
.section img {
	padding:3px 3px 3px 10px;
	}

.mediaobject {
	margin-bottom:30px;
	}

.blockquote {
	margin: 15px 0 15px 0;
	width: 100%;
	}
.blockquote p {
	border-left: 6px solid #ADADAD;
	background-color: #f4f4f4;
	color: black;
	padding: 15px;
	margin: 0;
	}
.blockquote .attribution {
	font-size: 0.9em;
	}

.abstract {
	margin-top:15px;
	margin-bottom:15px;
	}
.abstract .title {
	font-size:1em;
	font-weight:bold;
	margin:0;
	}
.abstract p {
	font-size:0.9em;
	margin: 0;
	}

.titlepage {
	font-size:0.95em;
	}
.titlepage hr {
	display:none;
	}

.toc {
	margin:15px 0;
	}
.toc p {
	font-size:0.9em;
	margin:0;
	}
.toc dl {
	font-size:0.9em;
	margin:0 0 0 15px;
	}

.list-of-tables {
	font-size:0.9em;
	}
.list-of-tables p {
	margin:0;
	font-size:0.9em;
	}
.list-of-tables dl {
	margin:0;
	font-size:0.9em;
	margin:0 0 0 20px;
	}

.chapter {
	margin-top: 25px;
	}
.chapter > .titlepage .title {
	font-size:1.2em;
	margin:0;
	}

ol, ul {
	margin-top:0px;
	margin-bottom:0px;
	font-size:0.95em;
	}

p.title {
	font-size:1.0em;
}

pre {
	white-space: normal;
	margin:5px 15px;
	font-size:0.95em;
	line-height: 0.9em;
	border-left:6px solid #ADADAD;
	padding:0 6px;
}


/* --------------------- Right panel stuff ------------------------ */
#rightpanel {
	position:absolute;
	float:right;
	right:7px;
	top:115px;
	width:155px;
	text-align:left;
	padding:0;
	margin:0;
	z-index:2;
	font-size:90%;
}

#rightpanel #devotional {
	border:1px solid #9CA7D2;
	margin-bottom:20px;
}
#rightpanel .tip {
	border:1px solid #9CA7D2;
	margin-bottom:10px;
}

#rightpanel #devotional h3, #rightpanel .tip h3 {
	padding:2px 10px;
	margin:0px;
	background-color:#DAE4FF;
	vertical-align:middle;
	font-size:0.9em;
	font-weight:bold;
	color:#0226b0;
	border-bottom:1px solid #9CA7D2;
}

#rightpanel #devotional p, #rightpanel .tip p {
	margin:0;
	padding:4px;
	text-align:left;
	font-size:0.8em;
}

#rightpanel #devotional p + p , #rightpanel .tip p + p {
	margin:0;
	padding:4px;
	font-size:0.8em;
}

/* --------------------- Footer stuff ------------------------ */
#pagebottom {
	clear:both;
	background-image:url(/images/bar-bottom.png);
	background-repeat:repeat-x;
	margin:0px;
	border-top:1px solid #b2c7fe;
	padding-top:0px;
	padding-left:10px;
	padding-right:10px;
	text-align:center;
	vertical-align:top;
}

#pagebottom #footcopy{
	margin-left:100px;
	font-size:0.6em;
}

/* --------------------- Own stuff ------------------------ */

div.guestbook {
	width:100%;
	}
div.guestbook form.additem {
	color:black;
	background-color:white;
	margin-top:15px;
	margin-bottom:15px;
	}
div.guestbook .item {
	width:100%;
	}
div.guestbook .item .header {
	border-bottom: 2px dashed #B4CAFF;
	vertical-align: middle;
	padding: 1px;
	font-size:0.9em;
	}
div.guestbook .item .header .name {
	font-weight: bold;
	}
div.guestbook .item .header .contact-info img {
	vertical-align: bottom;
	margin: 1px;
	padding: 1px;
	}
div.guestbook .item .comments {
	font-size:0.85em;
	padding: 0 10px 15px 10px
	}
div.guestbook .item .comments p {
	margin:0;
	padding:0;h
}

div.swordcd {
	width:100%;
}

table.swordcdcheck {
	background-color:#EEEEF6;
	margin-left:25px;
	margin-bottom:5px;
	width:25%;
}



div.qandaset table {
	margin-top:15px;
	border-spacing:0px;
	vertical-align:top;
}

table tr.toc {
	font-size:0.9em;
	margin:0px;
	display:none;
	}
#documentation_faq tr.toc {
	display:none;
	}

table .qandadiv h4.title {
	margin-top:10px;
	border-bottom:1px dotted black;
	width:100%;
}

table tr.question > td {
	padding:0 5px 0 15px;
	margin:0;
	font-size: 0.8em;
	vertical-align: middle;
	
	}
table tr.question > td > b {
	font-weight: bold;
	}
table tr.question td + td {
	padding: 0;
	margin: 0;
	font-weight: bold;
	font-size: 0.85em;
	vertical-align: middle;
	}
table tr.question td + td p {
	padding:0;
	margin:0;
	}
table tr.answer p {
	padding:0;
	margin:0;
	font-size:0.9em;
	}


/* Special formatting for the software page */
#software #content {
	padding-bottom: 10px;
}
#software #content .section + .section p {
	margin: 2px 0 25px 25px;
	padding-right: 5px;
}
#software #content .section + .section p b {
	display: block;
	clear:right;
	border-bottom: 2px dashed #B4CAFF;
	margin-left: -15px;
	font-size:1.02em;
	font-weight:bold;
}


/* Special formatting for some pages */
#software_gallery #content img {
	margin-top:25px;
}

/* Entries for the translation statistics */
#translation {
	}
#translation .postats {
	margin: 15px 0 25px 15px;
	}
#translation .language {
	font-size: 0.8em;
	width: 90%;
	margin: 5px 0 10px 0;
	padding:0;
	}
#translation .language td.translated { /* translated */
	background-color: green;
	height:15px;
	padding:0;
	margin:0;
	}
#translation .language td.fuzzy { /* fuzzy */
	background-color: blue;
 	height: 15px;
	padding:0;
	margin:0;
	}
#translation .language td.untranslated { /* untranslated */
	background-color: red;
	height:15px;
	margin:0;
	padding:0;
	}
