html, body {
	padding:0px;
	margin:0px;
	font-size:13pt;
}

body, p, h1, h2, h3, h4, h5, h6, a:link, a:visited, a:hover, a:active, a:focus {
	font-family:Verdana, Arial, Tahoma, Helevtica, sans-serif;
}

td, p {
	font-size:0.95em;
}

a:link, a:visited, a:hover, a:active, a:focus {
	font-weight:normal;
	font-size:1em;
	background-color:transparent;
}

a:link {
	color:#000080;
	text-decoration:none
}
a:visited {
	color:#000080;
	text-decoration:none
}
a:hover {
	color:#0020AF;
	text-decoration:underline;
}
a:active {
	color:#2468B1;
	text-decoration:none
}
a:focus {
	color:#000080;
	text-decoration:none
}

h1 {
	font-size:1.1em;
}

h2 {
	font-size:1.07em;
}

h3 {
	font-size:1.04em;
}

h4 {
	font-size:1.02em;
}

h5 {
	font-size:1.0em;
}

h6 {
	font-size:0.97em;
}

h1,h2,h3,h4,h5,h6 {
	font-weight:bold;
	color:#0226b0;
	background-color:transparent;
	text-align:left;
}

input {
	color:black;
	background-color:#EEEEF6;
}
input:hover {
	color:black;
	background-color:white;
}
input:focus {
	color:black;
	background-color:#DDE2F6;
}

textarea {
	color:black;
	background-color:#EEEEF6;
	width:100%;
}
textarea:hover {
	color:black;
	background-color:white;
}
textarea:focus {
	color:black;
	background-color:#DDE2F6;
}


/* --------------------- Header stuff ------------------------ */
#pagetop {
	padding:0px;
	margin:0px;
	height:99px;
	border-bottom:1px solid #75a0ff;
	background-image:url(/images/pagetop-right.png);
	background-repeat:repeat-x;
}

#pagetop img.left {
	padding:0px;
	margin:0px;
	height:99px;
}

#pagetop #flags {
	padding:0px;
	position:absolute;
	height:15px;
	right:10px;
	top:10px;
	text-align:center;
	padding:5px;
}


#pagetop #flags img {
	border:0px;
	margin:1px 3px;
	border:1px solid white;
}

/* --------------------- page stuff, sourrounds content ------------------------ */
#page {
	background-image:url(/images/sidebar-bg.jpg);
	background-repeat:repeat-y;
	background-color:white;
	color:black;
	border-spacing:0px;
	border-collapse:collapse;
	width:100%;
	margin:0px;
	padding:0px;
}

/* --------------------- Navigation stuff ------------------------ */
#navigation {
	background:transparent;
	width:165px;
	float:left;
	padding:0px 0px 0px 3px;
	margin-right:0px;
	margin-top:10px;
}

#navigation .toplevel {
	color:black;
	background-color: transparent;
	font-size: 0.9em;
	font-weight: bold;
}

#navigation .toplevel * a {
	color: #140366;
	background-color: transparent;
	font-size: 0.9em;
	font-weight: bold;
}

#navigation .shrink1 {
	padding-left:15px;
}

#navigation .shrink2 {
	padding-left:30px;
}

#navigation .shrink3 {
	padding-left:30px;
}

#navigation .shrink1, .shrink2, .shrink3, .shrink4 {
	font-size:0.8em;
	font-weight:bold;
}

#navigation .curpage {
	color:black;
	font-size: 1em;
	font-weight: bold;
	background-color: transparent;
}

#navigation img {
	 border: 0px;
	 background-color: transparent;
	 color: white;
	 padding-right: 2px;
	 margin-top: 1px;
	 margin-bottom: 2px;
	 vertical-align: top;
}

#navigation .curpage img {
	padding-left:3px;
}

#navigation #logos {
	text-align:center;
	margin-top:35px;
	padding-bottom:20px;
}

#navigation #logos img {
	border:0px;
	padding-bottom:15px;
}

/* --------------------- Content stuff ------------------------ */
#content {
	margin:0px 10px 0px 170px;
	padding-top:10px;
	background-color:transparent;
}

#content img {
	border:none;
}

#content .section {
	margin-bottom:15px;
}

#content .section > .section {
	margin-left:10px;
	margin-bottom:10px;
}

#content .section .titlepage div div h1,h2,h3,h4,h5,h6 {
	padding:0px;
	margin:0px;
}

.section p {
	margin:3px 0px;
	padding-left:10px;
	font-size:0.95em;
}

.section img {
	padding:3px 3px 3px 10px;
}

.mediaobject {
	margin-bottom:30px;
}

.blockquote {
	margin-bottom:15px;
}

.blockquote p {
	border-top:1px solid black;
	border-bottom:1px solid black;
	background-color:#f4f4f4;
	color:black;
}
.blockquote .attribution {
	font-size:0.9em;
}

ol {
	margin-top:0px;
	margin-bottom:0px;
}

p.title {
	font-size:1.0em;
}

/* --------------------- Right panel stuff ------------------------ */
#rightpanel {
	width:150px;
	float:right;
	text-align:left;
	padding:0px 2px 5px 3px;
	margin:0px;
	display:none;
}

#rightpanel h3 {
	padding:2px;
	margin:0px;
	color:black;
	background-color:#EEEEF6;
	border:1px solid black;
	vertical-align:middle;
	font-size:0.85px;
}

#rightpanel p {
	margin:0;
	font-size:0.85em;
}

/* --------------------- Footer stuff ------------------------ */
#pagebottom {
	clear:both;
	background-image:url(/images/bar-bottom.png);
	background-repeat:repeat-x;
	margin:0px;
	border-top:1px solid #b2c7fe;
	padding-top:0px;
	padding-left:10px;
	padding-right:10px;
	text-align:center;
	vertical-align:top;
}

#pagebottom #footcopy{
	margin-left:100px;
	font-size:0.6em;
}

/* --------------------- Own stuff ------------------------ */

div.guestbook {
	width:100%;
}

div.guestbook form.additem {
	color:black;
	background-color:white;
	margin-top:15px;
	margin-bottom:15px;
}


div.guestbook .item {
	width:100%;
}

div.guestbook .item .header {
	color:black;
	background-color:#EEEEF6;
	border:1px solid black;
	vertical-align:middle;
	padding:3px;
	margin-top:15px;
}

div.guestbook .item .comments {
	font-size:0.9em;
	padding-left:10px;
	padding-right:10px;
}


div.swordcd {
	width:100%;
}

table.swordcdcheck {
	background-color:#EEEEF6;
	margin-left:25px;
	margin-bottom:5px;
	width:25%;
}


div.qandaset table {
	margin-top:15px;
	border-spacing:0px;
	vertical-align:top;
}

table tr.toc {
	font-size:0.8em;
	margin:0px;
}

table .qandadiv h4.title {
	margin-top:10px;
	border-bottom:1px solid black;
	width:100%;
}

table tr.question td {
	background-color:#a8c3ff;
	color:white;
	font-weight:bold;
	font-size:1em;
	padding:0px;
	margin:0px;
	padding-left:2px;
}


/* Special formatting for the software page */
#software #content {
	padding-bottom: 10px;
}
#software #content .section+.section p {
	margin: 2px 0 25px 25px;
	padding-right: 5px;
}
#software #content .section+.section p b {
	display: block;
	clear:right;
	border-bottom: 2px dashed #B4CAFF;
	margin-left: -15px;
	font-size:1.1em;
}


/* Special formatting for some pages */
#software_gallery #content img {
	margin-top:25px;
}

/* Entries for the translation statistics */
#translation {

}

#translation #postats {
	margin-left: 25px;
}
#translation .language {
	font-size: 0.8em;
	width: 80%;
	height:15px;
	margin-bottom:10px;
	border:1px solid black;
}
#translation .language > div  { /* untranslated */
	background-color: red;
	height:15px;
	margin: 0;
	float:left;
}
#translation .language > div+div { /* translated */
	background-color: green;
	height:15px;
	margin:0;
}
#translation .language > div+div+div { /* fuzzy */
	background-color: blue;
	height:15px;
	margin:0;
}
