<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html>
<head>
  <title> <TMPL_VAR NAME="PAGE_TITLE">  </title>
  <head>
	<meta name="DC.Title" content="BibleTime">
	<meta name="DC.Creator" content="Joachim Ansorg">
	<meta name="DC.Subject" content="Bible study for Linux and Unix">
	<meta name="DC.Description" content="BibleTime is a bible study application for Unix and KDE systems">
	<meta name="DC.Publisher" content="BibleTime">
	<meta name="DC.Date" content="2002-10-30">
	<meta name="DC.Type" content="Software">
	<meta name="DC.Format" content="text/html">
	<meta name="DC.Identifier" content="http://www.bibletime.info/">

	<meta name="keywords" lang="en" content="Bible,Linux,study,KDE,BibleTime,Sword,SWORD,CrossWire,society,software">
	<meta name="keywords" lang="de" content="Bibel,Bibelsoftware,BibleTime,Bibelstudium,KDE,Crosswire,Sword,Projekt">

 <STYLE type="text/css">
<!--
<TMPL_INCLUDE NAME="bibletime.css">
-->
 </STYLE>

  <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
  <meta name="GENERATOR" content="Quanta Plus">
</head>
<body>

<TABLE width="100%" cellspacing="0" cellpadding="0" class="logo">
  <TR>
   <TD align="left" valign="baseline">
    <A href="http://www.bibletime.info"><IMG src="images/banner_head.jpg" alt="logo" width="312" height="60" border="0"></A>
   </TD>
  </TR>
  <TR>
   <TD STYLE="padding-top:2px;">

<TMPL_LOOP NAME="FLAGS">
  <A HREF="<TMPL_VAR NAME="link">"><IMG BORDER="0" STYLE="padding-right:2px;" SRC="images/flags/<TMPL_VAR NAME="lang">.png"></A>
</TMPL_LOOP>

   </TD>
  </TR>
</TABLE>

<!-- This is the top navigation table -->
<table width="100%" cellspacing="0" border="0" cellpadding="0" class="navigation">
    <tr align="center">
<TMPL_LOOP NAME="NAV_BUTTONS">
      <TMPL_VAR NAME="navbutton">
</TMPL_LOOP>
    </tr>
</table>


<table width="100%" class="main" cellspacing="0" border="0" cellpadding="0">
    <tr>
      <!-- This is the sidebar which contains the links which belong to the selected main group -->
      <td align="left" valign="top" class="sidenav">
         <DIV CLASS="sidebarheading"><TMPL_VAR NAME="SIDEBARHEADER"></DIV>
         <DIV CLASS="sidebarlinks"><TMPL_VAR NAME="SIDEBAR"></DIV>
	 <br><br><br>
         <center>
          <IMG SRC="http://cgicounter.kundenserver.de/cgi-bin/cnt?clsid=6d57ce0cd957fd4959b1c0c1e8375ddf1" border="0" align="below"><br>
          <FONT size="-2">
            <TMPL_VAR NAME="VISITORS">
          </FONT>
          <br>
          <A href="http://sf.net/projects/bibletime">
            <IMG src="http://sourceforge.net/sflogo.php?group_id=954" width="88" height="31" border="0">
          </A><br>&nbsp;
	 </center>
      </TD>
      <TD rowspan="2" align="left" valign="top" class="content">
	      <TMPL_VAR NAME="CONTENT">&nbsp;
      </TD>
     </TR>
</table>

<!-- The footer of each page. -->
<table class="footer" width="100%">
    <tr>
      <td align="center">&copy; 1999-2002 by the BibleTime project - <A HREF="http://www.bibletime.info/">www.bibletime.info</A> </td>
    </tr>
</table>

</body>
</html>
