<!DOCTYPE HTML="true" "-//W3C//DTD="true" 4.01//EN"="true">
<html>
<head>
  <title> <TMPL_VAR NAME="PAGE_TITLE">  </title>
  <head>
	<meta name="DC.Title" content="BibleTime">
	<meta name="DC.Creator" content="Joachim Ansorg">
	<meta name="DC.Subject" content="Bible study for Linux and Unix">
	<meta name="DC.Description" content="BibleTime is a bible study application for Unix and KDE systems">
	<meta name="DC.Publisher" content="BibleTime">
	<meta name="DC.Date" content="2002-10-30">
	<meta name="DC.Type" content="Software">
	<meta name="DC.Format" content="text/html">
	<meta name="DC.Identifier" content="http://www.bibletime.info/">

	<meta name="keywords" lang="en" content="Bible,Linux,study,KDE,BibleTime,Sword,SWORD,CrossWire,society,software">
	<meta name="keywords" lang="de" content="Bibel,Bibelsoftware,BibleTime,Bibelstudium,KDE,Crosswire,Sword,Projekt">

 <STYLE type="text/css">
<!--
<TMPL_INCLUDE NAME="bibletime.css">
-->
 </STYLE>

  <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
  <meta name="GENERATOR" content="Quanta Plus">
</head>
<body>

<table class="footer" width="100%">
    <tr>
      <TD rowspan="2" align="center" valign="top" class="content">
<B>BibleTime website translation</B>
      </TD>
     </TR>
</table>


<table width="100%" class="main" cellspacing="0" border="0" cellpadding="0">
    <tr>
      <TD rowspan="2" align="left" valign="top" class="content">
      <BR><BR>
	<TMPL_VAR NAME="CONTENT">&nbsp;
      </TD>
     </TR>
</table>

<!-- The footer of each page. -->
<table class="footer" width="100%">
    <tr>
      <td align="center">&copy; 1999-2002 by the BibleTime project - <A HREF="http://www.bibletime.de/">www.bibletime.de</A> </td>
    </tr>
</table>

</body>
</html>
